.DetailWrap {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  
  background-color: rgba(51,51,51,0.7);
  top: 0px;

  justify-content: center;
  align-items: center;
}

.DetailContents {
  position: absolute;
  width: 1000px;
  height: 490px;
  border: 3px solid black;
  background-color: white;
}

.CloseButton {
  position: relative;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  color: black;
  float: right;
  font-size: 24px;
  font-weight: bold;
  background-color: white;
  color: gray;
}

.CloseButton:hover {
  outline: none;
  cursor: pointer;
  color: black;
}

.CloseButton:active {
  outline: none;
  color: black;
}

.CloseButton:focus {
  outline: none;
  color: black;
}

.ImageArea {
  float: left;
  width: 40%;
  height: 400px;
}

.CurrentImage {
  position: relative;
  float: left;
  width: 100%;
  height: 400px;
}

.CurrentImage > .Image {
  width: 95%;
  height: 95%;
  object-fit: fill;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.ImageList {
  display: inline-block;
  width: 100%;
  height: 100px;
}

.ImageList > li {
  float: left;
  width: 20%;
  height: 100%;
}

.ImageList > li > .ThumbImage {
  width: 90%;
  height: 70%;
  margin: 10px 5px 5px 5px;
}

.ContentsArea {
  float: left;
  position: relative;
  width: 60%;
  height: 400px;
}

.BanchanTitle {
  width: 90%;
  font-weight: bold;
  font-size: 30px;
  word-break:break-all;
  margin-left: 20px;
}

.BanchanDescription {
  width: 90%;
  font-size: 16px;
  word-break:break-all;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.Information {
  width: 90%;
  margin-left: 20px;
  word-break: break-all;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
}

.Title {
  float: left;
  width: 135px;
  font-size: 14px;
  font-weight: bold;
  color: grey;
}

.Description {
  float: left;
  width: 400px;
  font-size: 14px;
  word-break: break-all;
  text-align: left;
}

.PriceArea {
  width: 90%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.Price {
  width: 100%;
  height: 100%;
  font-size: 26px;
  margin-left: 20px;
  text-align: right;
  font-weight: bold;
}

.AmountArea {
  display: inline-block;
  width: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin-left: 20px;
}

.Amount {
  float: left;
  width: 135px;
  font-size: 14px;
  font-weight: bold;
  color: grey;
}

.AmountNumber {
  float: right;
  width: 50px;
  margin-right: 20px;
  text-align: center;
}

.AmountNumber::-webkit-inner-spin-button {
  opacity: 1;
}

.TotalPriceArea {
  display: flex;
  width: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 20px;
  align-items: center;
}

.TotalPriceArea > .TotalPrice {
  float: left;
  width: 70%;
  text-align: right;
  font-weight: bold;
  font-size: 16px;
}

.TotalPriceArea > .Price {
  float: right;
  width: 30%;
  font-size: 26px;
  color: #2ac1bc;
  text-align: center;
  text-align: right;
}

.AddCartBtn {
  margin-left: 20px;
  width: 90%;
  height: 50px;
  background-color: #2ac1bc;
  color: white;
  font-size: 24px;
  border-radius: 5px;
}

.AddCartBtn:hover {
  cursor: pointer;
  outline: none;
}

.AddCartBtn:hover {
  outline: none;
}

.AddCartBtn:focus {
  outline: none;
}